.Menu
{
    font-family : Roboto, Arial, sans-serif;
    font-kerning :normal;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size : 1.5rem;

    text-align: center;
    color : rgb(160, 160, 160);
    margin : 0px;
    #padding-bottom: 20px;
}

@media (max-width: 1000px){
  table.intro_box, 
  table.intro_box tbody, 
  table.intro_box tr{
    display: block;
    width: 100%;
  }
  table.intro_box td{
    display: block;
    width: 100%;
  }
  table.intro_box td .intro_photo{
    width: min(100%, 1000px);
    height: auto;
  }
}

.SocialLinks
{
    display: flex;
    #justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2.5rem
}

#Counter_Frame
{
    position : fixed;
    bottom : 10px;
    right : 10px;   
}
#Link_Back
{
    position : fixed;
    bottom : 10px;
    right : 100px;  
}
#TitleText
{
    font-family : Roboto, Arial, sans-serif;
    font-kerning :normal;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    font-size : 2.5rem;

    color : rgb(160, 160, 160);
    margin : 0px;
    padding: 0px;
    padding-left:50px;
}
.ProfilePhoto {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
}
.ImageBox {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
}
.ImageBox img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
